/*estilos para la pagina web*/


body{
    background-color: #f2f2f2;
}

h1{
    font-size: 36px;  
color: #afa6a6;
}

p{
    text-align: center;
    font-size: 2em;
    font-style:oblique
    
}
.encabezado{
    text-align: center;  
    text-transform: uppercase;  
    font-weight: bold;  
    font-size: 42px;
    
}
.parrafo2{
    text-transform:lowercase;
    font-size: 1.5em;
}

#fondo{
    background-color: #aa3b3b;
}
p a{
    color: burlywood;
    text-transform: none;
}
.color{
    color:#aa3b3b
}
.background-color{
    background-color: blueviolet;
}
.font-size{
    font-size: medium;
}
.font-weight{
    font-weight: 500;
}
.font-style{
    font-style: oblique;
}
.font-family{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-align{
    text-align: left;
}
.text-decoration{
    text-decoration: overline;
}
.text-transform{
    text-transform: lowercase;
}
.letter-spacing{
    letter-spacing: 0cap;
}
.line-height{
    line-height: normal;
}
